.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container{
    display: flex;
    padding: 10px;
}
.hidden {
    display: none;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

.no-scrollbar {
    overflow: hidden;
}
.scrollbar {
    overflow: show;
}

.dotted-border {
    border-style: dotted !important; 
}

.dashed-border {
    border-style: dashed !important;
}

.hidden-border {
    border-style: hidden !important;
}

.border {
    border-style: solid;
    border-radius: 10px;
    padding: 1.5%;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}